@use '../utils/_variables' as variables;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: variables.$spacing-unit;
  color: variables.$heading-color;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin-bottom: variables.$spacing-unit * 2;
}

.label {
  font-weight: bold;
  font-size: 14px;
  color: variables.$heading-color;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  color: variables.$heading-color;
  margin-bottom: variables.$spacing-unit;
}
