@use "../utils/_variables" as variables;
@use "sass:color";
@use '@/styles/utils/_mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: variables.$body-font;
  font-size: variables.$font-size-base;
  color: variables.$body-color;
  line-height: variables.$line-height-body;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: variables.$primary-color;
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    color: color.adjust(variables.$primary-color, $lightness: -10%);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  font-family: variables.$body-font;
  font-size: variables.$font-size-base;
  padding-left: 10px;
  color: variables.$body-color;
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 38px;
  width: 100px;
  box-shadow: 0 2px 8px #ccc;
  &::placeholder {
    color: grey;
    padding-left: 10px;
  }
}

.input-size {
  &-sm {
    width: 150px;
  }

  &-md {
    width: 250px;
  }

  &-lg {
    width: 450px;
    @include responsive('sm') {
      width: 250px;
    }
    @include responsive('md') {
      width: 300px;
    }
  }
}
